<div>
    <header class="header">
        <div class="grid">
         <div class="grid__row">
             <div class="header__logo">
                 <img src="/assets/images/logo.jpg" alt="" class="header-logo">
             </div>  
 
             <div class="header__search">
                 <img src="/assets/images/-icon-magnifying-glass.svg" alt="icon search" class="header__search_icon">
                 <div class="header__search-input-wrap">
                 <input type ="text" class ="search__title" placeholder="Tên sản phẩm, bộ sưu tập"> </input>
                 
                 <div class="header__search-history">
                     <p class="header__search-history-heading">Lịch sử tìm kiếm</p>
                     <ul class="header__search-history-list">
                         <li class="header__search-history-item">
                             <a href="">Beyond The Sun</a>
                         </li>
                         <li class="header__search-history-item">
                             <a href="">The best boardgame ever</a>
                         </li>
                     </ul>
                 </div>
                 </div>
             </div>
               
           <ul class="header_navbar-list">
               <li class="header_navbar-item">Trang Chủ</li>
               <li class="header_navbar-item">Cửa hàng</li>
               <li class="header_navbar-item">Đặt thuê</li>
               <li class="header_navbar-item">Liên hệ</li> 
               <img src="/assets/images/Profile.png" alt="" class="header_navbar-avatar">
             </ul>
         </div>
        </div>
             
        </header>
</div>