body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-helvetica: Helvetica;
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-xs: 12px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-smi: 13px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gray-100: #002144;
    --color-gray-200: rgba(0, 0, 0, 0.5);
    --color-whitesmoke: #f0f4f5;
    --color-darkgray: #999;
    --color-gainsboro: #d9d9d9;
  
    /* border radiuses */
    --br-3xs: 10px;
    --br-8xs: 5px;
    --br-xl: 20px;
  }
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; 
}
.col-half{
    width: 50%;
}
.grid__row{
display: flex;
flex-wrap: wrap;
margin-left: -12px;
margin-right:-12px;
}

.grid__colum-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 20.702%;

}
.grid__colum-10{
    width: 74.561%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-4{
    width: 23.4%;
}